:root {
    --primary: #c47c86;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #333;
}

.hero {
    height: 100vh;
    background: url('fondo-hero.png') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
